body {
    background-color: black;
    display: flex;
    justify-content: center;
    position: relative;
}

.digital-clock {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    animation: animate 1.5s linear infinite;
    border-radius: 15px;
    font-weight: bold;
}

.container {
    margin: 10px;
    background: black;
    padding: 10px 30px;
    border-radius: 15px;
}

#time, #date {
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
}

#time {
    font-size: 55px;
}

#date {
    font-size: 25px;
    text-align: center;
}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

.digital-clock .firstSpan,
.digital-clock .lastSpan{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background: inherit;
    z-index: -1;
    border-radius: 15px;
}

.digital-clock .firstSpan{
    filter: blur(10px);
}

.digital-clock .lastSpan{
    filter: blur(30px);
}